---
title: Thank you - Wine Container.
---

<div id="about">
  <div class="about-content">
   <p>Thank you for your message. You can click the link below to download our price list.</p>

  <div class="button">
    <%= link_to "Download pricelist", "/files/pricelist.pdf", class: "btn btn-primary btn-contact" %>
  </div>


  </div>
</div>
